.register-container {
    min-height: 100vh;
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }
  
  .h-100 {
    min-height: 100vh;
  }
  
  /* Animación para el mensaje de éxito */
  .text-success {
    animation: fadeIn 0.5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  /* Hacer el texto de input blanco */
.form-white input,
.form-white input:focus {
  color: white !important;
}

/* Solucionar el fondo blanco del campo email */
.form-white input[type="email"] {
  background-color: transparent !important;
}